.content {
  width: 100%;
  .top {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 24px;
    color: #1890ff;
    cursor: pointer;
  }
  .category-md {
    width: 100%;
    :global {
      .pre-code {
        position: absolute;
        top: 8px;
        right: 8px;
        cursor: pointer;
      }
    }
  }
}
