:global {
  .code-container {
    position: relative;
    width: 100%;
    overflow-x: auto;
  
    .copy-icon {
      height: 20px;
      position: absolute;
      right: 25px;
      top: 16px;
      z-index: 1000;
      .copy {
        cursor: pointer;
      }
    }
  }
}