.loading-box {
  height: 100vh;
  text-align: center;
  line-height: 100vh;
}
.item {
  background: #fff;
  padding: 16px;
  color: #00214c;
  box-shadow: 0 1px 10px 4px rgb(243, 246, 251);
  .title {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 4px;
  }
  .des {
    font-size: 1.0rem;
  }
  .operation {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .status {
    font-size: 0.9rem;
    border-radius: 4px;
    padding: 0 4px;
    margin-top: 4px;
    display: inline-block;
  }
}